Makefile
Makefile.in
aclocal.m4
.deps
/autom4te.cache
/compile
/config.h.in
/config.h
/config.log
/config.status
/stamp-h1
/configure
/depcomp
/install-sh
/missing
/ylwrap
/INSTALL
/conffile.c
/parse.c
/parse.h
/jinamp
/jinamp-ctl
/README
*.o
